
<div class="'flex justify-content-center">
  <router-outlet></router-outlet>
  <p-toast></p-toast>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <!-- <div class="container">
    <div class="logo">
      <h1  >BASRON</h1>
      <p>Watch your wealth grow</p>
    </div>
    <div class="powered-by">
      <p>powered by</p>
    <div class="background-gradient">
  </div>
    </div>
  </div> -->
  