<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
   
</head>
<body>

<div class="container">
    <div class="header">
        <h2>Create Account</h2>
    </div>
    <div class="content">
        <div class="progress">
            <span class="active"></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div class="info">
            <h3>Sign up with your details</h3>
            <p>To help setup your account, let us know:</p>
            <ul>
                <li>Your name, contact details and address</li>
                <li>Your date of birth, profession and nationality</li>
                <li>How you'll fund your account</li>
                <li>If you've traded before</li>
            </ul>
            <p>We'll also ask for your ID details investment approach but you can also add these later:</p>
            <ul>
                <li>Your investment goals</li>
                <li>Your risk appetite</li>
                <li>Your industry and sector preferences</li>
            </ul>
            <p>It should take about 5 minutes to answer all the questions.</p>
        </div>
        <div class="button">
            <button (click)="onActivity()">Get Started</button>
        </div>
    </div>
</div>

</body>
</html>
