<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activity Center</title>
   
</head>
<body>
<div class="app-customer-persona">
    <div class="rectangle-3"></div>
    <div class="top-bar">
      <div class="back-button"><img src="assets/images/back-button-icon.png" alt="Back Icon" width="24" height="24">      </div>
      <h1 class="create-account">Create Account</h1>
    </div>
    <h2 class="sign-up" (click)="onActivity()">Sign up with your details</h2>
    <p class="help-text">To help setup your account, let us know:</p>
    <p class="details">
      Your name, contact details and address<br>
      Your date of birth, profession and nationality<br>
      How you’ll fund your account<br>
      If you’ve traded before
    </p>
    <p class="additional-text">We’ll also ask for your ID details investment approach but you can also add these later:</p>
    <p class="additional-details">
      Your investment goals<br>
      Your risk appetite<br>
      Your industry and sector preferences
    </p>
    <p class="time-text">It should take about 5 minutes to answer all the questions.</p>
    <div class="primary-button">
      <span class="button-text">Get Started</span>
    </div>
    <div class="progress-bar">
      <div class="progress-step complete"></div>
      <div class="progress-step"></div>
      <div class="progress-step"></div>
      <div class="progress-step"></div>
      <div class="progress-step"></div>
      <div class="progress-step"></div>
    </div>
    <div class="progress-labels">
      <span class="label profile">Profile</span>
      <span class="label">Contact</span>
      <span class="label">Personal</span>
      <span class="label">Finances</span>
      <span class="label">Preferences</span>
      <span class="label">Account</span>
    </div>
  </div>
</body>
</html>