<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Forgot Password - BASRON</title>
  <!-- Include Angular Material icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
  <div class="container">
    <div class="back-button">
      <a (click)="navigateToSignup()">
        <span class="material-icons" >arrow_back</span>
      </a>
    </div>
    <h1>Forgot Password</h1>
    <form (ngSubmit)="sendResetLink()" #forgotPasswordForm="ngForm">
      <input type="email" placeholder="Email" required [(ngModel)]="email" name="email" #emailField="ngModel">
      <div *ngIf="emailField.invalid && emailField.touched" class="error">Email is required and must be valid.</div>
      <div *ngIf="newPassword !== confirmPassword && forgotPasswordForm.submitted" class="error">Passwords do not match.</div>
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Send Reset Link</button>
    </form>
    <br>
    <a routerLink="/reset-password">Already have a reset code? Reset your password here</a>

  </div>
  <br>
  <div class="footer">
    <div>BASRON powered by <span class="green-text">INVCOM</span></div>
    <div>&copy; 1996 - 2024 Basron Limited. All rights reserved.</div>
  </div>
</body>
</html>
